.main {
  background-image: url("https://media1.giphy.com/media/Ruqs7aaZ4J19m/giphy.gif?cid=ecf05e47fhg4ecl7sqnrvz3e5y7vfc5cztd1g71vj5q06oag&rid=giphy.gif&ct=g");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding: 0 5%;
}

.modal {
  margin-top: -100px;
  width: 40rem;
  height: 25vh;
  border-radius: 1.5rem;
  background: #ffffff50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal_button {
  width: 78%;
  height: 78%;
  border-radius: 1.5rem;
  background: #ffffff90;
  padding: 1rem;
}

.modal_button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .modal {
    padding: 1rem;
  }
}
