.main {
  background-image: url("https://media1.giphy.com/media/Ruqs7aaZ4J19m/giphy.gif?cid=ecf05e47fhg4ecl7sqnrvz3e5y7vfc5cztd1g71vj5q06oag&rid=giphy.gif&ct=g");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding: 0 5%;
}

.modal {
  margin-top: -100px;
  width: 40rem;
  height: 25vh;
  border-radius: 1.5rem;
  background: #ffffff50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_button {
  width: 78%;
  height: 78%;
  border-radius: 1.5rem;
  background: #ffffff90;
  padding: 1rem;
  transition: all 150ms ease-in-out;
  margin: 0;
}

.modal_button:hover {
  cursor: pointer;
  transform: translateY(-6px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.audioPlayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 31rem;
  height: 90px;
  border-radius: 1.5rem;
  background: #ffffff50;
  padding: 1rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.audioPlayer div p:first-child {
  font-size: 0.85rem;
  font-weight: 600;
  color: rgba(17, 17, 17, 0.739);
  margin: 0;
}
.audioPlayer div p:nth-child(2) {
  font-weight: 500;
  color: rgba(17, 17, 17, 0.873);
  margin: 0;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .modal {
    padding: 1rem;
  }

  .audioPlayer {
    width: 90%;
  }

  .audioPlayer div {
    max-width: 190px;
  }
}
